
/*--  Fonts  --*/
$open-sans             : 'open-sans';

/*--  Colors  --*/
$white                 : #ffffff;
$black                 : #000000;
$dark-blue             : #011142;
$light-blue            : #07195b;
$lighter-blue          : #1f2f6a;
$green-yellow          : #8cff25;
$dark-gray             : #353535;
$dark-gray1            : #403e41;
$red                   : #ff0000;
$orange                : #ffa500;
$green                 : #008000;
$yellow                : #fef200;
$gray                  : #808080;
$light-gray            : #373737;
$light-gray1           : #eeeeee;
$light-gray2           : #e7e7e7;
$light-gray3           : #a0a0a0;
$light-gray4           : #474747;
$light-gray5           : #373837;
$light-gray6           : #fcfcfc;
$lighter-gray          : #b4b4b4;
$lighter-gray1         : #7f7f7f;
$dark-gray1            : #e5e5e5;
$dark-gray2            : #ededed;
$modal-blue            : #184ba1;

/*--  Box Model  Variables  --*/
$margin                : '';
$padding               : '';
$radius                : '';
$base-width            : 20px;
$base-height           : 20px;
$base-position         : 20px;